@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
  
body::-webkit-scrollbar {
    width: 12px
} 
  
body::-webkit-scrollbar-thumb {   
  background-color: #C4C4C4;   
  border-radius: 10px;
}

h1{
    font-family: 'Fredoka One', cursive;
    font-size: 57px;
    color: #2EB2FF;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 10%;
}

div.botao-saiba-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 376px;
    height: 76px;
    background-color: #2EB2FF;
    border-radius: 50px;
    margin-top: 2%;
    margin-left: 25%;
}

a{
    text-decoration: none;
}

p{
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
}

main{
    display: flex;
}

div.background-login img{
    height: 700px;

}

div.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 421px;
    height: 443px;
    border: 2px solid #C4C4C4;
    border-radius: 15px;
    margin-left: 20%;
}

label{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    margin-left: 10%;
}

input#email,
input#senha{
    width: 335px;
    height: 43px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    border: 2px solid #C4C4C4;
    border-radius: 15px;
    margin-left: 10%;
    margin-bottom: 8%;
}

div.alinha-botoes{
    display: flex;
    justify-content: center;
}

button.botao-login,
button.botao-cadastrar{
    width: 147px;
    height: 57px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    background-color: #FF5C5C;
    border-radius: 50px;
    cursor: pointer;
}

button.botao-cadastrar{
    background-color: #2EB2FF;
    margin-left: 5%;
}

div.alinha-botoes a{
    color: #FFFFFF;
}