html{
    scroll-behavior: smooth;
  }
  
  body::-webkit-scrollbar {
    width: 12px
  } 
  
  body::-webkit-scrollbar-thumb {   
  background-color: #C4C4C4;   
  border-radius: 10px;
  }
  
  h3.criadoras-titulo{
      font-size: 28px;
  }
  
  h3.criadoras-titulo-menor{
      font-size: 26px;
  }
  